<% content_for :title, 'Posts' %>

<% if @posts.any? %>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Title
                </th>
                <th class="px-6 py-3 bg-gray-50" colspan="3"></th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @posts.each do |post| %>
                <tr id="<%= dom_id(post) %>">
                  <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900"><%= post.title %></td>
                  <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium"><%= link_to 'Show', post, class: 'text-indigo-600 hover:text-indigo-900' %></td>
                  <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium"><%= link_to 'Edit', edit_post_path(post), class: 'text-indigo-600 hover:text-indigo-900' %></td>
                  <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium"><%= link_to 'Destroy', post, method: :delete, class: 'text-red-600 hover:text-red-900' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="mt-8">
  <span class="inline-flex rounded-md shadow-sm3">
    <%= link_to 'New Post', new_post_path, class: 'inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150' %>
  </span>
</div>
